/* Enter your custom styles here */

.Dashboard_bg {
    border-top: 3px solid #427cac !important;
    background-image: url("../images/bgmohh.jpg");
    background-position: center !important;
    color: #011842 !important;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 0px -94px;*/
    /*opacity: 0.5;*/
}

.sapMPanel {
    background-color: white !important;
}

.VboxBackground {
    background-color: white !important;
}

.sapMIBar-CTX .sapMTitle {
    color: #346187 !important;
}

.sapMITBFilter .sapMITBText .sapMITHTextContent {
    color: #346187 !important;
}

.sapMITBSelected .sapMITBContentArrow::after {
    background: #346187 !important;
}

.sapMTitle {
    color: #346187 !important;
}

.sapMListHdrText {
    color: #346187 !important;
}

.sapMDialog.sapMPopup-CTX>header .sapMHeader-CTX,
.sapMDialog.sapMPopup-CTX>header .sapMSubHeader-CTX {
    background-color: #4e2482 !important;
}

.sapMDialogWarning>header.sapMDialogTitle .sapMDialogIcon.sapUiIcon {
    color: #fffafa !important;
}

/*jsh*/
.sapMDialog>header.sapMDialogTitle .sapMTitle {
    color: #fffafa !important; 
}

.datePicker {
    height: 20px;
    width: calc(100% - 25px);
    margin-top: 3px;
    display: inline;
}

.ui-datepicker-trigger {
    width: 17px;
    position: relative;
    top: 3px;
    left: -24px;
}

.sapMIllustratedMessageAdditionalContent{
	visibility: hidden!important;
}